:root {
  --borderRadius: 20px;
}
/* Element styles */
body {
  height: 100%;
}

button {
  transition: background-color 0.1s ease-out;
}

button,
button > * {
  cursor: pointer;
}

main {
  display: flex;
  align-items: stretch;
}

/* ID Styles */
#site-description {
  padding: 5rem;
  background-color: #ebebeb;
}

#suggested-tutorials-container {
  padding: 3rem;
  background-color: #ebebeb;
}

#bookmarks {
  padding: 5rem;
}

#results-container {
  padding: 5rem 15%;
}

#videos-container {
  padding: 2rem 10%;
}

/* Class styles */
.results-page h2 {
  font-size: 3rem;
}

input[type="text"].browser-default {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: var(--borderRadius);
}

input.full-width {
  display: block;
  width: 60%;
  font-size: 1.5rem;
  margin: 2% auto;
}

.btn {
  border-radius: var(--borderRadius);
}

.landing-search {
  text-align: center;
}

.results-page nav {
  display: flex;
  justify-content: flex-end;
}

.site-container {
  flex: 1 1 0;
  height: 100%;
}

.site-container nav {
  background: linear-gradient(
    90deg,
    rgba(200, 32, 144, 1),
    rgba(106, 20, 209, 1)
  );
  display: flex;
  justify-content: space-between;
  height: auto;
}

.site-container nav a,
.site-container nav a > * {
  cursor: pointer;
}

.fa-earlybirds {
  font-size: 3rem;
}

.logo {
  font-size: 2.5rem;
  font-family: "Rock Salt", Arial, Helvetica, sans-serif;
}

.container {
  padding-top: 1rem;
  padding-bottom: 2rem;
  background: rgb(200, 32, 144);
  background: linear-gradient(
    90deg,
    rgba(200, 32, 144, 1),
    rgba(106, 20, 209, 1)
  );
  width: auto;
  max-width: inherit;
}

.results-page  .card.results-card {
  border: 1px solid #000;
  text-align: right;
  padding: 10px;
}

.results-page .card.results-card .card-title,
.create-date {
  font-size: 1rem;
  line-height: 1.4;
  display: block;
  text-align: center;
}

.results-page  .card.results-card {
  display: flex;
  align-content: stretch;
  justify-content: space-between;
  padding: 10px;
}

.results-page  .bookmarks .card.results-card {
  flex-direction: column;
}

.results-page .card.results-card div:last-child {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card.results-card div:nth-child(2) {
  flex: 1 1 0;
}

.card.results-card h5 {
  text-align: center;
  margin-top: 0;
  padding: 0 100px;
}

.bookmarks .card.results-card h5 {
  padding: 0;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.create-date {
  line-height: 1.8;
  font-size: 1.2rem;
  color: #666;
}

.side-container {
  font-size: 1rem;
  text-align: center;
  float: left;
  clear: left;
  color: #fff;
  background: rgb(200, 32, 144);
  width: 70px;
  height: 60px;
  vertical-align: middle;
  margin-bottom: 1px;
  border-radius: 0 6px 6px 0;
  margin-left: -10px;
  padding: 10px 0;
}

.side-container span {
  display: block;
  padding-top: 5px;
}

.site-container nav {
  background: linear-gradient(
    90deg,
    rgba(200, 32, 144, 1),
    rgba(106, 20, 209, 1)
  );
}

.icon,
.icon .fa-bookmark {
  font-size: 1.8rem;
  cursor: pointer;
}

.icon {
  align-self: flex-end;
}

.bookmarks .icon {
  float: right;
}

.image-holder {
    background: #fff url(../images/stackoverflow.png) no-repeat center center;
    background-size: cover;
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.p-1 {
  padding: 5px;
}

.p-2 {
  padding: 10px;
}

.m-1 {
  margin: 5px;
}

.m-2 {
  margin: 10px;
}

/*google icons */
.material-icons.md-18 {
  font-size: 18px;
  text-align: center;
}

.material-icons.md-24 {
  font-size: 24px;
  text-align: center;
}

.material-icons.md-36 {
  font-size: 36px;
  text-align: center;
}

.material-icons.md-48 {
  font-size: 48px;
  text-align: center;
}

.about-header {
  text-align: center;
  padding: 20px;
}

.about-text {
  text-align: center;
  padding: 20px;
}

/* Video API */

.card .card-content {
  padding-top: 10px;
}

.title-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h4 {
  font-size: 18px;
}

p {
  line-height: 20px;
}

.title-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

.footer {
  text-align: center;
  color: white;
  padding: 20px;
  background: rgb(200, 32, 144);
  background: linear-gradient(
    90deg,
    rgba(200, 32, 144, 1),
    rgba(106, 20, 209, 1)
  );
}

.github-link {
  color: lightgrey;
  font-size: large;
}

.btn{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Media queries */
@media screen and (max-width: 767px) {
  .logo, .fa-earlybirds{
    font-size: 2rem;
    white-space: nowrap;
  }

  .card.results-card h5, #results-container{
    padding: 1rem;
  }

  #suggested-tutorials-container, #bookmarks{
    padding: 0;
  }
}

@media screen and (min-width: 1100px) {
  #results-container {
    padding: 5rem 25%;
  }
}
